.users {
  .createBtn {
    margin-top: 10px;
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .nameCol {
    width: 20%;
  }
  .stateCol {
    width: 10%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .locationCol {
    width: 10%;
    text-align: right;
  }
  .emailCol {
    width: 25%;
  }
  .buttonCol1 {
    width: 8%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  .buttonCol2 {
    width: 8%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
  .filtersButtons {
    // margin-top: 10px;
    width: 50%;
    float: right;
  }
}
